
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
  }
  
  body {
    background: url('/static/images/canastae.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 5%;
  }
  
  .content {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    background-color: rgba(0, 0, 0, 0.470);
    padding: 5%;
    border-radius: 10px;
    max-width: 40%;
  }
  
  @media (max-width: 768px) {
    body {
      background: linear-gradient(45deg, rgb(69, 10, 179), rgb(0,0,0));
      justify-content: center;
      padding-left: 0;
      text-align: center;
    }
    .content {
      max-width: 80%;
    }
  }
  