<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in to CanastaeSchedule</title>
    <link rel="stylesheet" href="/static/css/login.css">
    </head>
<body>
    <div class="content">
        <h2>Sign in to CanastaeSchedule :)</h2>
        <form action="/login" method="POST">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>
            
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
            
            <button type="submit">Sign In</button>
        </form>
        <a href="/forgot-password" class="forgot-password">Forgot your password?</a>
    </div>
</body>
</html>
